{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{[ url_for('static', filename='../static/css/signin.css')]}">
<script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{[ url_for('static', filename='../static/js/bootstrap.min.js')]}"></script>

<header>


            <div class="navbar navbar-fixed-top ">

                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" data-toggle="modal" href="#modalAbout">
                            Readless
                        </a>

                        
                        <div class="nav pull-right">
                          
                          
                        </div>
                    </div>
                </div>
            </div>


        </header>



{% if error %}<div class="container">
  <div class="span5 offset3 alert alert-info fade in" >
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span>{[ error ]}</span>
          </div> </div>{% endif %}
  
   <div class="container">

        <form action="{[ url_for('changePassword') ]}" class="form-signin" method="post">
        <h3 class="form-signin-heading">Change Password</h3>
      
        <input type="password" class="input-block-level" autofocus required placeholder="Current Password" name="Old_Password">
        <input type="password" class="input-block-level" required placeholder="New password" name="New_Password">
        <input type="password" name="password" class="input-block-level" required placeholder="Confirm Password" name="Confirm_Password">
      
        <input class="btn btn-large btn-success" type="submit" value="Change">
      </form>
</div>
{% endblock %}
