body{
    padding-top: 80px;
    background:gray url(../img/furley_bg.png) ;
     font-family:  "Helvetica Neue", sans-serif;
}

#content{
/*	border:gray solid thin;*/
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
    
}

#sidebar{
   
    width: 233px;
    height: 540px;
  border-right: dashed lightgray 1px;
background-color: white;
/*-moz-box-shadow: inset -4px 0px 10px #888;
-webkit-box-shadow: inset -4px -5px 10px #888;
box-shadow: inset -4px 0px 10px #888;*/
        
}
#navSearch{ 
    position: relative;
    margin-left:106px;

}
#feeds{
margin-left: 0px;
width: 705px;
height: 500px;
background-color: white;
padding-top: 40px;

}
.f-head{
margin-left: 10px;
margin-right: 10px;
padding-bottom: 20px;
border-bottom: gray thin solid;
font-size: 26px;	
color: green;
font-weight: bold;
}
#options{
    position: relative;
    top:-45px;
    margin-right: 10px;
}
#trash{
    margin-left: 10px;
}
.btn-group{
    padding-left:10px;
}
#subscribe{
    padding: 10px;
    padding-left: 68px;
    padding-top: 40px;
     
}
.subscriptions{
    margin-left: 10px;
}
.subscriptions>strong{

font-size: 15px;
color: gray

    
}
.src{
		cursor: pointer;
		text-decoration: none;
        padding-bottom: 5px;
        font-size:13px;
        color: #6D6F72;
}
.badge{
	float: right;
}

#sub-list{
padding: 10px 15px 15px 15px;


}

.fav{
    padding-right: 5px;
}
.slats li {
    margin: 10px 10px 10px 20px;
   /* padding: 0 0 10px 0;*/
    border-bottom: 1px solid #eee;
    }

.slats li h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    }
.slats li p {
    font-size: 14px;
    line-height: 1.4;
    }
.slats li p span.meta {
   display: block;
    font-size: 12px;
    color: #999;
    }               
    .group{
        margin: 0;
        padding: 0;
    }
#uName{
    /*position: relative;*/
    left: -80px

}  